doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 
            a(href='/topic') Server Side Javascript
        ul
            each topic1 in topics
                li  
                    - rid = encodeURIComponent(topic1['id'])
                    a(href='/topic/'+rid)=topic1.title
        article
            | DELETE
            h1= 'Delete? '+topic[0].title
            - rid = encodeURIComponent(topic[0]['id'])
            form(action='/topic/'+rid+'/delete' method='post')
                p=topic[0].title
                p=topic[0].description
                if topic[0].author
                    div='by '+topic[0].author
                p
                    input(type='submit' value='Yes')
                a(href='/topic/'+rid) No